// Small devices (landscape phones, 576px and up)
@media only screen and (min-width: 576px) {

  .content-wide h1 {
    margin: 20px 0 8px;
  }

  .site-logo {
    // display: block;
  }

  .subheader {
    display: block;
    margin: 16px 6.5% 0 0;

    .summary {
      line-height: 20px;
      padding: 0;
      width: 200px;

      h2 {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 20px;
        margin: 0 0 20px;
      }

      p {
        font-size: 14px;
      }
    }

    .cta {
      display: flex;
      flex-wrap: wrap;
      float: none;
      justify-content: space-around;
      margin: 0 0 20px;
      padding: 0 12px;
      width: auto;

      h3 {
        font-size: 14px;
        font-weight: bold;
      }
    }

    > img {
      padding: 0 0 0 30px;
    }
  }

  .cta-row {
    text-align: center;
    width: 50%;
  }

  .row-top {
    display: flex;
    justify-content: space-around;
  }

  .content,
  .sidebar {
    padding-bottom: 20px;
  }

  .sidebar h2,
  .sidebar h3 {
    width: 100%;
  }

  // .content-wide h2,
  // .sidebar h2 {
  //   margin: 10px 0 8px;
  //   width: 100%;
  // }

  .content-wide {
    padding: 0 30px;

    .home {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .speakers-list,
  .sponsors-list,
  .awards-list {
    margin: 0 auto;
    // width: calc(100vw - 60px);
  }

  .speaker,
  .sponsor,
  .award {
    display: flex;
  }

  .speaker,
  .sponsor {
    margin: 0 0 26px;
  }

  .collections-tag {
    padding: 0 20px 16px;
  }

  /**
   * 576 - Speaker
   */


  .speaker-img {
    padding: 0 20px 0 0;
  }

  .speaker-bio {
    padding: 0 0 0 20px;
    max-width: 540px;
  }

  .speakers .collections-tag {
    margin: 0 10px 0 111px;
  }

  /**
   * 576 - Awards
   */

  .awards-banner {
    display: flex;
    flex-wrap: nowrap;
    // margin: 30px 0 20px 2px;
    // margin: 20px 0 30px;
    margin: 0 0 30px;
    width: auto;
  }

  .awards-banner img {
    align-self: center;
    margin: 0 40px 0 10px;
  }

  .awards-banner .gety-text {
    text-align: left;
    // font-size: 16px
    font-size: 18px;
  }

  .gety-text p {
    margin: 0 0 8px;
  }

  .awards-header {
    margin: 30px 0 0;
  }

  .awards-header h2,
  .awards .awards-h2 {
    background: url('#{$baseurl}/assets/images/h2_bg.gif') 0 5px no-repeat;
    padding: 0 0 0 20px;
    margin: 0 0 20px 0;
    text-align: initial;
    }

  .awards.awards-h2 {
    margin: 40px 0 20px;
  }

  .award-img {
    margin: 0 50px 0 0;
    min-width: 120px;
  }

  .awards-header h2 {
    background: url("#{$baseurl}/assets/images/h2_bg.gif") 0 5px no-repeat;
    text-align: left;
    margin: 0 0 20px 20px;
    padding: 0 0 0 20px;
  }

  .award-content {
    text-align: left;
  }

  .award-title {font-weight: 700;}

  .award {
    margin: 30px 0 30px;
    margin: 30px 0;
  }

  .award-img {
    padding: 0;
  }

  /**
   * Judges
   */

  .judge {
    display: flex;
  }

  .judge-bio {
    padding: 0 0 0 20px;
  }

  .judge-img {
    align-self: baseline;
    margin: 0 20px 16px 0;
  }
}
