// Medium devices (tablets, 768px and up)
@media only screen and (min-width: 768px) {
  #oho {
    margin: 0 auto;
    padding: 50px 0 20px;
    width: calc(100vw - 6vw);
  }

  .site-header {
    border-bottom: 3px solid $border-color;
    justify-content: space-between;
    padding: 0;
  }


  .site-logo,
  .site-title,
  .subheader {
    padding: 0;
  }

  .site-logo {
    display: block;
    float: left;
    padding: 0 0 0 16px;
  }

  .top-nav {
    display: block;
    float: right;
    height: 28px;
    list-style: none;
    padding: 71px 0 1px 0;
    position: static;

    li {
      display: block;
      float: left;

      a,
      a:visited {
        color: $text-color;
        display: block;
        float: left;
        font-size: 12px;
        margin: 0 25px 0 0;
        text-decoration: none;
        text-transform: uppercase;
      }

      a:hover {
        color: $link-hover-color;
        display: block;
      }
    }
  }

  .get-logo {
    width: 50%;
  }

  .subheader {
    border-bottom: 3px solid #231f20;
    display: inline-flex;
    justify-content: space-between;
    margin: 0;

    .cta {
      display: inline-flex;
      margin: 40px 0 10px;
      width: 140px;
    }

    .summary {
      align-content: flex-start;
      margin: 40px 0 0;
      padding: 0;
      width: 50%;
    }
  }

  .row-top {
    display: inline-flex;
    justify-content: space-between;
    width: 70%;
  }

  .cta-row {
    width: 100%;

    h3 {
      margin: 0 0 8px;
    }
  }

  /**
   * Main
   */


  /**
   * Main - Non-Homepage
   */

  .content {
    // padding: 0 0 20px 15px;
    padding: 25px 0 20px 15px;

    h1,
    h2 {
      margin: 25px 0;
      padding: 0 0 0 25px;
    }

    h1 {
      margin: 0 0 25px;

      &:first-of-type {

      }
    }
  }


  /**
   * Main - Homepage
   */

   .content-wide,
   .sidebar {
     padding: 20px 0;
   }

  .content-wide {
    box-sizing: border-box;
    float: left;
    // padding: 0 20px;
    padding: 20px 30px;
    // width: 54%;
    width: 62%;

    .home {
      justify-content: flex-start;
    }

    h1, h2 {
      background: url('#{$baseurl}/assets/images/h2_bg.gif') 0 5px no-repeat;
      font-size: 16px;
      font-style: italic;
      line-height: 20px;
      margin: 0 0 20px -25px;
      padding: 0 0 0 25px;
      text-align: left;
    }

    .mt20 {
      margin-top: 20px;
    }
  }

  .get-img {
    margin: 0 auto;
  }

  /**
   * Homepage - Sidebar
   */

  .sidebar {
    float: right;
    margin: 0;
    width: 37%;
  }

  .sidebar h2,
  .sidebar h3 {
    text-align: left;
  }

  .sidebar h3 {
    font-size: 14px;
  }

  /**
   * Sidebar - Speakers
   */

  .sidebar .speakers,
  .sidebar .organizers {
    justify-content: flex-start;
  }

  .sidebar .speakers {
    margin: 0 0 20px;
  }

  .sidebar .speakers-list,
  .sidebar .organizers-list {
    justify-content: flex-start;

    a {
      margin: 0 5px 16px;
      width: 76px;

      &:last-of-type {
        margin: 0 auto 0 0;
      }
    }

    a div,
    img {
      margin: 0 auto;
      width: 76px;
    }
  }

  .organizers-list {
    justify-content: flex-start;
    width: 70%;

    a span {
      margin: 0;
    }
  }

  .sidebar-social-list {
    display: flex;
    flex-wrap: wrap;
    float: right;
    justify-content: flex-start;
    padding: 0;
    text-align: left;
    width: 100%;
  }

  .sidebar-list {
    margin: 0 10px;
  }

  .sidebar-list  {
    span,
    a,
    p {
      padding: 0 0 0 4px;
    }
  }

  #sidebar .personnel h3 {
    clear: both;
    display: block;
    margin: 0 0 15px;
  }

  /**
   * Sponsors
   */

  // body.sponsors h2 {
  .sponsors h2 {
    margin: 25px 0 26px;
    padding: 0 0 0 25px;
  }

  .sponsor {
    display: flex;
    flex-direction: row;
  }

  .sponsor-bio {
    width: 392px;

    p {
      display: inline;
    }
  }

  // 768
  .sponsor-img {
    margin: 0 0 0 35px;
    padding: 0 20px 0 0;
  }


  /**
   * 768 - Awards
   */

  body.awards .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .awards-list {
    width: 675px;
  }

  .awards-banner {
    img {
      margin: 0 28px 0 0;
    }

    .gety-text {
      font-size: 20px;
    }
  }

  // Full Size
  .awards-banner {
    margin: 4px 0 30px;
  }

  .awards-banner img {
    margin: 0 48px 0 0;
  }

  .award-img {
    margin: 0 80px 0 0;
    min-width: 120px;
  }

  .awards .gety-text {
    padding: 6px;
  }

  .awards-header h2 {
    margin: 0 0 1px;
    // clear: both;
  }

  .awards-list {
    margin: 0 0 20px;
    // width: calc(100vw - 36px);
  }

  .award {
    width: 675px;
  }

  .award-img {
    flex-direction: column;

    img {
      align-self: end;
    }
  }

  .award-content {
    margin: 0 0 0 36px;
  }

  .award-title {
    font-weight: 700;
    margin: 0;
  }

  .awards-header {
    margin: 40px 0 0;
  }

  .awards .awards-h2 {
    margin: 40px 0 20px 20px;
  }

  .judge {
    justify-content: flex-start;
    display: flex;
    margin: 0 0 26px;
  }

  .judges-list {
    width: 675px;
    display: block;
    margin: 0;
  }

  .judge-img {
    align-self: baseline;
    margin: 0 auto 16px;
    padding: 0;
  }

  .judge-bio {
    padding: 0 0 0 20px;
  }

  .judge-img {
    align-self: baseline;
    margin: 0 20px 16px 0;
    padding: 0;
  }

  .media-partners {
    margin: 0 0 20px;
    padding: 0 20px 0 0;
    width: 100%;
  }

  .media-partner-img {
    margin: 0;
    width: initial;
    width: 320px;
    margin-right: 40px;
  }

  .partner-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    padding: 20px 0;
    width: 675px;
    justify-content: space-between;
    margin: 0;
    max-width: 675px;
    align-items: center;
  }

  .partner-fb,
  .partner-tw {
    margin: 0 40px 0 0;
    vertical-align: initial;
    width: 60px;
  }
}
