@media only screen and (min-width: 425px) {
  .content h2 {
    background: url('#{$baseurl}/assets/images/h2_bg.gif') 0 5px no-repeat;
    margin: 20px 0;
    // padding: 0 0 0 10px;
    padding: 0 0 0 20px;
    text-align: initial;
  }

  .sidebar-header {
    font-size: 20px;
    text-align: center;
    width: 100%;
  }

  .speakers,
  .organizers {
    margin: 20px 0;
  }

  .sidebar .speakers-list,
  .sidebar .organizers-list {
    justify-content: center;

    a {
      display: block;
      margin: 0 10px 16px;
      width: auto;
    }

    span {
      width: 100px;
    }
  }

  .speaker-img {
    // margin: 0;
  }

  .awards-speaker {
    margin: 0 auto;
  }

  .sidebar-social-list {
    text-align: center;
  }

  /**
   * Awards
   */

  .awards-header h2,
  .awards .awards-h2 {
    background: none;
    padding: 0;
    text-align: center;
  }

  .awards .awards-h2 {
    margin: 40px 0 20px;
  }

  .award-links a {
    margin: 0;
    width: initial;
  }
}

