// Extra large devices (large desktops, 1200px and up)
@media only screen and (min-width: 1200px) {
  #oho {
    margin: 0 auto;
    width: 1000px;
  }

  .subheader {
    height: 272px;
  }

  .row-top {
    max-width: 800px;
  }

  .cta-row {
    margin: 0 0 20px;

    &:last-of-type {
      margin: 0;
    }
  }

  .content-wide {
    box-sizing: border-box;
    padding: 25px 40px 20px 40px;
    width: 65.5%;
  }

  .sidebar {
    padding: 30px 0 20px;
    width: 33%;
  }

  .speakers {
    margin: 0 0 20px;
  }

  .speakers-list,
  .organizers-list {
    a,
    a div,
    img {
      width: 90px;
    }

    a {
      margin: 0 9px 16px;
    }
  }
}
