{%- assign speakers_str = "site.speakers" | append: page.year -%}
{%- assign organizers_str = "site.organizers" | append: page.year -%}
{%- include sidebars/blocks/sidebar-speakers.html speakers_col=speakers_str organizers_col=organizers_str -%}

<iframe width="300" height="169" src="https://www.youtube.com/embed/videoseries?list=PL1kf5_cQRRR7Smt1HZm-F5qcQgg9XwAdV" frameborder="0" allowfullscreen=""></iframe>
<p><a href="http://www.youtube.com/user/PersonalGenomesOrg/feed">Watch videos from more leading thinkers</a></p>

<div class="sidebar-list">
  {%- include sidebars/blocks/past-events.html -%}

<h3>This Year</h3>
<a href="{{ site.baseurl }}/get2015/">2015 GET Global Conference</a>

<h3>Next Year</h3>
  <a href="{{ site.baseurl }}/get2016/">2016 GET Conference</a><br>
  <a href="{{ site.baseurl }}/get2016/labs">2016 GET Labs</a><br>
</div>
