{%- assign speakers_str = "site.speakers" | append: page.year -%}
{%- assign discussion_leaders_str = "site.discussion-leaders" | append: page.year -%}
{%- include sidebars/blocks/sidebar-speakers.html speakers_col=speakers_str discussion_leaders_col=discussion_leaders_str -%}

<div class="sidebar-video">
  <iframe width="300" height="169" src="https://www.youtube.com/embed/videoseries?list=PL56EAF7F3416F65ED&amp;hl=en_US" frameborder="0" allowfullscreen=""></iframe>
  {{ "[Watch videos from more leading thinkers](http://www.youtube.com/user/PersonalGenomesOrg/feed)" | markdownify }}
  <!-- <p><a href="http://www.youtube.com/user/PersonalGenomesOrg/feed">Watch videos from more leading thinkers</a></p> -->
</div>

<div class="sidebar-list">
  {%- include sidebars/blocks/past-events.html -%}
</div>
