---
layout: default
title: Awards
---

<div class="awards-banner">
  <img src="/get2016/images/GETy_Awards_200.jpg" alt="GETy Awards">
  <div class="gety-text">
    <p>Honoring Excellence in Participant-Centered Research</p>
    <p><a style="color:#d91f2a; font-weight:bold" href="http://www.getconference.org/get2016/gety-awards-release.html" target="_blank">Announcing GETy Award Winners</a>
  </div>
</div>

<div class="awards-header"><h2>Award Categories</h2></div>


<ul class="awards-list">
  {% assign awards = site.awards %}
  {% for award in awards %}
  <li class="award">
    <div class="award-img"><img src="{{ award.image }}" alt="{{ award.alt }}"></div>
    <div class="award-content">
      <p class="award-title">{{ award.title }} Award</p>
      <div class="award-text">{{ award.content }}</siv>
    </div>
  </li>
  {% endfor %}
</ul>

<h2>Meet our judges</h2>

<ul class="speakers-list">
  {% assign judges = site.judges | sort: 'order' %}
  {% for judge in site.judges %}
  <li class="speaker">
    <img class="speaker-img" src="{{ judge.image }}" alt="{{ judge.name }}">
    <span class="speaker-bio">{{ judge.content }}</span>
  </li>
  {% endfor %}
</ul>

<h2>Thanks to our media partners</h2>

<div class="media-sponsors">
  {% assign sponsors = site.media-sponsors %}
  {% for sponsor in sponsors %}
  <div class="sponsor-row">
    <div class="sponsor-img media-sponsor-img"><img src="{{ sponsor.image }}" alt="{{ sponsor.name }} logo"></div>
    <div class="sponsor-fb"><a href="{{ sponsor.facebook }}" alt="{{ sponsor.name }} Facebook">Facebook</a></div>
    <div class="sponsor-tw"><a href="{{ sponsor.twitter }}" alt="{{ sponsor.name }} Twitter">@{{ sponsor.name }}</a></div>
  </div>
  {% endfor %}
</div>

<h2>Ceremony</h2>

<p>Date and Time: <time>6:00pm on April 25, 2016</time>
<br>Location: Harvard Medical School
<br>To attend, you must be a registered attendee of either the <a href="http://www.getconference.org/get2016/index.html" alt="GET Conference">GET Conference</a> or <a href="http://www.getconference.org/get2016/labs.html">GET Labs</a>.</p>
