---
layout: default
---


<h2>About GET Labs + Expo</h2>

<p>The GET Conference is preceded by a uniquely interactive event on April 25th called GET Labs + Expo.  Anyone can sign-up for <strong>GET Labs</strong>, where you get the opportunity to experience some of the best participatory health research studies available today. You can advance human health and disease research through direct participation in up to 17 different studies. <strong>GET Expo</strong> is a forum designed especially for researchers interested in learning about new tools and services that support the execution of successful participatory research studies. We know how challenging this can be, so we provide space for people with solutions and experience to come together. Details listed below.</p>

<p>Interested in attending Labs+Expo on April 25th?<br>
<a href="https://www.eventbrite.com/e/get-labs-tickets-21118572218"><img class="btn-spacing-bottom" src="/assets/images/get2010/btn_register_now.gif" alt="Register Now"></a></p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/PvGVMg1wjoU" frameborder="0" allowfullscreen=""></iframe>

<div class="labs-agenda">
<h2>Agenda April 25, 2016</h2>
  <ul class="labs-agenda-list">
    <li><time>12:00pm:</time> Attendee Registration</li>
    <li><time>01:00pm:</time> Labs Plenary Flash Talks</li>
    <li><time>02:00pm:</time> Labs + Expo</li>
    <li><time>06:00pm:</time> GETy Awards</li>
    <li><time>06:45pm:</time> Reception</li>
  </ul>
</div>


<h2 id="labs">GET Labs for Participants</h2>

<ul class="list-style-none">
  {% assign labs = site.labs %}
  {% for lab in labs %}
    <li class="list-style-none">
      <div class="lab-header">
        <p>
          {{ lab.title }}<br>
          {% if lab.co-pi == "true" %}
            co-PI: {{ lab.pi }}
            co-PI: {{ lab.pi2 }}
          {% elsif lab.investigator == "true" %}
            Investigator: {{ lab.pi }}
          {% else %}
            PI: {{ lab.pi }}
          {% endif %}

        </p>
      </div>
      <div class="lab-body">
        <div class="lab-about">{{ lab.content }}</div>
        <a class="lab-link"><img src="{{ lab.image }}" class="lab-img"></a>
      </div>
    </li>
  {% endfor %}
</ul>

<h2 class="margin-top-tall">Expo for Research Teams</h2>

<ul class="list-style-none">
{% assign teams = site.expos %}
{% for team in teams %}
    <li class="list-style-none">
      <div class="lab-header">
        <p>{{ team.title }}</p>
      </div>
      <div class="lab-body">
        <div class="lab-about">{{ team.content }}</div>
        <a class="lab-link"><img src="{{ team.image }}" class="lab-img"></a>
      </div>
    </li>
  {% endfor %}
</ul>


<h2 class="margin-top-tall">Who else is coming?</h2>

<p><a href="/get2016/labs_participants ">See who is coming</a> this year's event. We'll update the list every couple of days</p>


  {% comment %}
  {{ lab.name }}
  {{ lab.pi }}
  {{ lab.link }}
  {{ lab.image }}
  {% endcomment %}
