<div class="speakers">
  {%- if page.year == 2010 -%}
    <div class="sidebar-header"><h3>Personal Genome Pioneers</h3></div>
  {%- else -%}
    <div class="sidebar-header"><h3>Speakers</h3></div>
  {%- endif -%}
  <div class="speakers-list">
    {%- for collection in site.collections -%}
      {%- if include.speakers_col contains collection.label -%}
        {%- assign sorted = (collection.docs | sort: 'last') -%}
        {%- for speaker in sorted -%}
        {%- unless speaker.sidebar == false or speaker.sidebar contains "false" -%}
        <a href="{{ site.url }}{{ site.baseurl }}/get{{ page.year }}/speakers#{{ speaker.name | remove: " " }}">
          <div class="sidebar-speaker-img"><img src="{{ site.url }}{{ site.baseurl }}{{ speaker.image }}" alt="{{ speaker.name }}"></div>
          <div class="speaker-name">{{ speaker.name }}</div>
        </a>
        {%- endunless -%}
        {%- endfor -%}
      {%- endif -%}
    {%- endfor -%}
  </div>
</div>

{%- if include.organizers_col -%}
  {%- for collection in site.collections -%}
    {%- if include.organizers_col contains collection.label -%}
      <div class="organizers">
        <h3>Co-Organizers</h3>
        <div class="organizers-list">
        {%- for organizer in collection.docs | sort: 'last' -%}
          <a href="{{ site.url }}{{ site.baseurl }}/get{{ page.year }}/speakers#{{ organizer.name | remove: " " }}">
            <div class="sidebar-speaker-img"><img src="{{ organizer.image | aboslute_url }}" alt="{{ organizer.name }}"></div>
            <div class="speaker-name">{{ organizer.name }}</div>
          </a>
        {%- endfor -%}
        </div>
      </div>
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

{%- if include.discussion_leaders_col -%}
  {%- for collection in site.collections -%}
    {%- if include.discussion_leaders_col contains collection.label or collection.label contains include.discussion_leaders_col -%}
      <div class="speakers">
        <h3>Discussion Leaders</h3>
        <div class="speakers-list">
        {%- for leader in collection.docs | sort: 'last' -%}
          <a href="{{ site.url }}{{ site.baseurl }}/get{{ page.year }}/speakers#{{ leader.name | remove: " " }}">
            <div class="sidebar-speaker-img"><img src="{{ site.url }}{{ site.baseurl }}{{ leader.image }}" alt="{{ leader.name }}"></div>
            <div class="speaker-name">{{ leader.name }}</div>
          </a>
        {%- endfor -%}
        </div>
      </div>
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}
