<ul class="sponsors-list">
{%- for collection in site.collections -%}
  {%- if include.col_name contains collection.label -%}
  {%- for sponsor in collection.docs -%}
    {%- unless sponsor.type == "custom" -%}
  <li class="sponsor">
    <div class="sponsor-bio"><a href="{{ sponsor.link }}">{{ sponsor.name }}</a>: {{ sponsor.content }}</div>
    <img src="{{ sponsor.image | relative_url }}" alt="{{ sponsor.name }}" class="sponsor-img">
  </li>
    {%- else -%}
    <!-- This is a custom Sponsor -->
    {%- endunless -%}
  {%- endfor -%}
  {%- endif -%}
{%- endfor -%}
</ul>


{%- for collection in site.collections -%}
  {%- unless include.col_name contains "2011" or include.col_name contains "2012" or include.col_name contains "2013" %}
  {%- if include.col_name contains collection.label -%}
    {%- for sponsor in collection.docs -%}
      {%- if sponsor.type == "custom" -%}

<h2>{{ sponsor.heading }}</h2>
<ul class="sponsors-list">
  <li class="sponsor">
    <div class="sponsor-bio"><a href="{{ sponsor.link }}">{{ sponsor.name }}</a>: {{ sponsor.content }}</div>
    <img src="{{ sponsor.image | relative_url }}" alt="{{ sponsor.name }}" class="sponsor-img">
  </li>
</ul>
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
  {%- endunless -%}
{%- endfor -%}
