/**
 * Agenda
 */

.agenda-heading {
  font-size: 14px;
  font-weight: 700;
  margin: 0 20px 16px;
  text-align: left;
}

.heading2013 h4 {
  background: url('#{$baseurl}/assets/images/h2_bg.gif') 0 5px no-repeat;
  // background: url('#{$baseurl}/assets/images/h2_bg.gif') 0 5px no-repeat;
  padding: 0 0 0 25px;
  margin: 0 0 20px 0;
  font-size: 20px;
  font-weight: bold;
  color: #48484a;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 40px;
}

.sessions {
  list-style-type: none;
}

.session-time {
  display: inline-block;
  margin: 0 31px 0 0;
  vertical-align: top;
  width: 51px;
}

.session-details {
  clear: both;
  display: inline-block;
  max-width: 76%;
  width: 600px;
}

.session-list {
  margin: 0 0 20px;
  max-width: 800px;
}

.agenda-left {
  // float: left;
  display: inline-block;
  margin: 0 20px 0 0;
  vertical-align: top;
  width: 65px;
}

.content .venue h2 {
  margin: 25px 0;
}

.venue-address,
.venue-img {
  margin: 0 0 16px;
}

