.agenda-heading {
  font-size: 14px;
  font-weight: 700;
  margin: 0 20px 16px;
  text-align: left;
}

.sessions {
  list-style-type: none;
}

.session-time {
  display: inline;
  margin: 0 31px 0 0;
  vertical-align: top;
}

.session-details {
  clear: both;
  display: inline-block;
  width: 200px;
}

.session-list {
  max-width: 400px;
}

.agenda-left {
  width: 65px;
  /* float: left; */
  margin: 0 20px 0 0;
  display: inline-block;
  vertical-align: top;
}

/**
 * Agenda
 */

.session-list {
  max-width: 400px;
  margin: 0 0 20px;
}

.agenda-left {
  width: 65px;
  /* float: left; */
  margin: 0 20px 0 0;
  display: inline-block;
  vertical-align: top;
}

.session-details {
/*   max-width: 290px; */
  clear: both;
  /*   float: none; */
  display: inline-block;
  max-width: 76%;
}

// .sessions {
//   display: flex;
//   flex-wrap: wrap;
//   // justify-content: space-between;
// }

// ul.session-list {
//   max-width: 625px;
//   padding: 0;
// }

// .sessions > * {
//   margin: 0 20px 0 0;
// }

// .session {
//   width: 65px;
// }


// .content h3 {
//   font-weight: 700;
//   line-height: 1.5;
// }

// .session-time {
//   margin: 0 20px 0;
//   width: 65px;
// }

// .sessions {
//   margin: 0 0 18px;
//   max-height: 36px;
// }

// ul.session-list {
//   margin: 0 0 52px;
// }

// .no-max-height {
//   max-height: initial;

//   p {
//     margin: 0;
//   }
// }

// .session-title {
//   text-transform: capitalize;
// }

// time.session-time {
//   width: 50px;
//   text-align: right;
//   margin: 0 35px 0 0;
// }

// .venue {
//   margin: 50px 0 20px 0;
// }

// .venue-address {
//   margin: 0 0 16px;
// }

// .venue-img {
//   margin: 0 0 16px;
// }
