/**
 * Agenda
 */

.agenda-heading {
  font-size: 14px;
  font-weight: 700;
  margin: 0 20px 16px;
  text-align: left;
}

.sessions {
  list-style-type: none;
}

.session-time {
  display: inline;
  margin: 0 31px 0 0;
  vertical-align: top;
}

.session-details {
  clear: both;
  display: inline-block;
  max-width: 76%;
  width: 200px;
}

.session-list {
  margin: 0 0 20px;
  max-width: 400px;
}

.agenda-left {
  // float: left;
  display: inline-block;
  margin: 0 20px 0 0;
  vertical-align: top;
  width: 65px;
}

// .session-list {
//   margin: 0 0 20px;
//   max-width: 400px;
// }

// .agenda-left {
//   // float: left;
//   display: inline-block;
//   margin: 0 20px 0 0;
//   vertical-align: top;
//   width: 65px;
// }

// .session-details {
//   // max-width: 290px;
//   clear: both;
//   // float: none;
//   display: inline-block;
//   max-width: 76%;
// }

.content .venue h2 {
  margin: 25px 0;
}

.venue-address,
.venue-img {
  margin: 0 0 16px;
}

