/**
 * Common - Speakers, Awards, Media Partners
 */

.speakers-list,
.sponsors-list,
.awards-list {
  list-style: none;
  padding: 0;
}

.speaker,
.sponsor,
.award {
  // display: flex;
  justify-content: space-between;
}

.speaker,
.sponsor {
  // margin: 0 0 26px;
  margin: 0 0 6px;
}

.speaker-img,
.award-img {
  align-self: flex-start;
}

/**
 * Sponsors
 */

.sponsor-bio {
  width: 90%;
}

.sponsors .collections-tag {
  padding: 0 20px 16px 0;
}

/**
 * Speakers
 */

.speakers-list {
  margin: 0 10px;
}

.speaker-img {
  align-self: baseline;
  margin: 0 auto 16px;
  // padding: 0 20px;
  padding: 0;
}

.speaker-bio {
  // padding: 0 0 0 20px;
}

.speakers .collections-tag {
  margin: 0 10px;
}

.speakers2011 .speaker-bio {
  max-width: 426px;
}

.h3-steering-committee {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.384615;
  text-align: left;
  text-transform: none;
}

.steering-committee {
  list-style: none;
  padding: 0;
}

.speakers2010 .content h2 {
  background: none;
  font-size: 24px;
  padding: 0;
}

@media only screen and (min-width: 576px) {
  .speakers2010 .content h2 {
    background: none;
    color: #48484a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.384615;
    margin: 25px 0 16px;
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  .speakers2010 .content h2 {
    margin: 36px 0 16px;
  }
}

@media only screen and (min-width: 920px) {
  .speakers2010 .content h2 {
    margin: 50px 0 16px;
  }
}

/**
 * Awards
 */

.awards {
  .content {
    h2 {
      margin: 25px 0 26px;
    }

    h1.awards-header {
      margin: 25px 0 1px;
    }
  }
}


.awards-banner {
  display: flex;
  margin: 4px 0 48px;
  // width: 775px;
  width: auto;

  img {
    // margin: 0 48px 0 0;
    align-self: center;
    // margin: 0 20px 0 0;
    margin: 0;
  }

  .gety-text {
    // font-size: 20px;
    font-size: 16px;
    padding: 13px 0 2px;
  }
}

.awards-header {
  margin: 70px 0 0;
}

.award-title {
  font-weight: 700;
}

// body.awards {
//   max-width: 1519px;
// }

.awards-banner {
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0 30px;
  text-align: center;
}

.content h1,
.content h2 {
  text-align: center;
}

.awards-header {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.awards-list {
  display: block;
}

.award {
  display: block;
}

.award-links a,
.media-partner-img {
  margin: 0;
  width: initial;
}

.award-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 0;
}

img {
  display: block;
  vertical-align: middle;
}

.award-content {
  text-align: center;
  margin: 0;
}

/**
 * Media Partners
 */

.media-partners {
  margin: 0 0 32px;
  max-width: 100%;
  padding: 0 20px 0 0;
  width: 675px;
}

.media-partner-img {
  margin: 0;
  width: initial;
}

.partner-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 0;
}

img {
  display: block;
  vertical-align: middle;
}

/**
 * Judges
 */

.judges-list {
  list-style: none;
  list-style-type: none;
  width: 90%;
}

.judge {
  margin: 0 0 26px;
}

.judge-img {
  margin: 0 auto 16px;
}

/**
 * Media Sponsors
 */


.partner-row {
  flex-direction: column;
  align-items: center;
}
