/**
 * Collections - Speakers, Sponsors, Awards
 */

.speakers-list,
.sponsors-list,
.awards-list {
  list-style: none;
  padding: 0;
}

.speaker,
.sponsor,
.award {
  // display: flex;
  justify-content: space-between;
}

.speaker,
.sponsor {
  // margin: 0 0 26px;
  margin: 0 0 6px;
}

.speaker-img,
.award-img {
  align-self: flex-start;
}

/**
 * Speakers
 */

.speakers-list {
  margin: 0 10px;
}

.speaker-img {
  align-self: baseline;
  margin: 0 auto 16px;
  // padding: 0 20px;
  padding: 0;
}

.speaker-bio {
  padding: 0 0 0 20px;
}

// /**
//  * Common - Speakers, Awards, Media Sponsors
//  */

// .speakers-list,
// .sponsors-list,
// .awards-list {
//   list-style: none;
//   padding: 0;
// }

// .speakers-list,
// .awards-list {
//   width: 675px;
//  }

//  .speaker,
//  .sponsor,
//  .award {
//    display: flex;
//    justify-content: space-between;
// }

// .speaker,
// .sponsor {
//   margin: 0 0 26px;
// }

// .speaker-img,
// .award-img, {
//   align-self: flex-start;
// }

// /**
//  * Speakers
//  */

// .speaker-img {
//   padding: 0 20px 0 0;
// }

// .speaker-bio {
//   padding: 0 0 0 20px;
// }

// /**
//  * Sponsors
//  */

// .sponsors-list {
//   margin: 58px 0 0;
//   width: 750px;
// }

// .sponsor {
//   margin: 0 0 56px;
// }

// .sponsor-img {
//   align-self: center;
//   padding: 0 20px 0 30px;
// }

// .sponsor-bio {
//   padding: 0 4px 0 0;
//   width: 400px;
// }

// .sponsor-bio > p {
//   display: inline;
// }

// /**
//  * Awards
//  */

.awards-banner {
  display: flex;
  margin: 4px 0 48px;
  // width: 775px;
  width: auto;

  img {
    // margin: 0 48px 0 0;
    align-self: center;
    // margin: 0 20px 0 0;
    margin: 0;
  }

  .gety-text {
    // font-size: 20px;
    font-size: 16px;
    padding: 13px 0 2px;
  }
}

.awards-header {
  margin: 70px 0 0;
}

.award-title {
  font-weight: 700;
}

// body.awards {
//   max-width: 1519px;
// }

.awards-banner {
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 30px 0 30px;
}

.content h2 {
  text-align: center;
}

.awards-header {
  margin: 0 auto;
  text-align: center;
}

.awards-list {
  display: block;
}

.award {
  display: block;
}

.award-links a {
  margin: 0;
  width: initial;
}

.award-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 0;
}

img {
  display: block;
  vertical-align: middle;
}

.award-content {
  text-align: center;
  margin: 0;
}



// /**
//  * Media Sponsors
//  */

// .media-sponsors {
//   margin: 0 0 32px;
//   padding: 0 20px 0 0;
//   width: 675px;
// }

// .media-sponsor-img {
//   margin: 0;
//   padding: 0;
//   width: 300px;
// }

// .sponsor-row {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   margin: 32px auto;
//   text-align: center;
// }

// .sponsor-fb,
// .sponsor-tw {
//   align-self: center;
// }

// .sponsor-tw {
//   width: 90px;
// }

// .sponsor-fb {
//   width: 57px;
// }
