/*
=============================================================
COMMON CSS
=============================================================
*/

img {
  border: 0;
}

.imgLeft {
  float: left;
  margin: 0 15px 0;
}

.imgRight {
  float: right;
  margin: 0 0 0 15px;
}

.align-center {
  display: block;
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.list-style-none {
  list-style: none;
  list-style-type: none;
  padding: 0;
}

.margin-top-tall,
.content h2.margin-top-tall {
  margin-top: 50px;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.mb6 {
  margin: 0 0 6px;
}


.mt0 {
  margin-top: 0;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.btn-spacing-bottom {
  margin: 0 0 34px;
}

.mt50,
.margin-top-extra {
  margin-top: 50px;
}

.maw-775 {
  max-width: 775px;
}

.giant-text {
  color: #48484a;
  font-family: Georgia,Times, serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 40px;
  margin: 0 0 8px;
}

.paragraph-header,
.content h3.paragraph-header {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.384615;
  margin: 36px 0 16px;
  text-align: left;
  text-transform: none;
}

.hide {
  display: none;
}

@media only screen and (max-width: 425px), (max-width: 2000px) {
  .content h1.paragraph-header,
  .content h2.paragraph-header {
    background: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.384615;
    margin: 0 0 8px;
    padding: 0;
    text-align: left;
    text-transform: uppercase;  }
}


/**
 * Responsive Video - YouTube
 */

.video-responsive {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;

  iframe {
    height: 100%;
    left: 0;
    max-height: 315px;
    max-width: 560px;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
