/*
=============================================================
COMMON CSS
=============================================================
*/

img {
  border: 0;
}

.imgLeft {
  float: left;
  margin: 0 15px 0;
}

.imgRight {
  float: right;
  margin: 0 0 0 15px;
}

.align-center {
  display: block;
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.list-style-none {
  list-style: none;
  list-style-type: none;
  padding: 0;
}

.margin-top-tall,
.content h2.margin-top-tall {
  margin-top: 50px;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.btn-spacing-bottom {
  margin: 0 0 34px;
}

.mt50,
.margin-top-extra {
  margin-top: 50px;
}

.maw-775 {
  max-width: 775px;
}

.giant-text {
  color: #48484a;
  font-family: Georgia,Times, serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 40px;
  margin: 0 0 8px;
}

/**
 * Responsive Video - YouTube
 */

.video-responsive {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;

  iframe {
    height: 100%;
    left: 0;
    max-height: 315px;
    max-width: 560px;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
