/**
 * Base - Custom
 */

body {
  color: $text-color;
  font-family: $base-font-family;
  font-size: 13px;
  // line-height: 18px;
  line-height: 1.384615;
}

p {
  margin: 0 0 16px;
  padding: 0;
}

h1,
h2,
h3 {
  text-align: center;
}

h1,
h2 {
  color: $text-color;
  font-family: $secondary-font-family;
  font-size: 30px;
  font-weight: bold;
  // line-height: 40px;
  line-height: 1.333333;
  margin: 0 0 8px;
}

.content-wide h1,
.content-wide h2,
.sidebar h2 {
  margin: 20px 0 8px;
  width: 100%;
}

.content h1,
.content h2 {
   // background: url('#{$baseurl}/assets/images/h2_bg.gif') 0 5px no-repeat;
  // padding: 0 0 0 10px;
  margin: 16px 0 20px;
  text-align: initial;
  }

.content h1 {
  margin: 0 0 20px;
}

h3 {
  color: $text-color;
  // font-size: 12px;
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 16px;
  text-transform: uppercase;
}

h4,
h5,
h6 {
  font-size: 12px;
}

a:link,
a:visited,
a:hover,
a:active {
  color: $link-color;
}

ul {
  margin: 0;
  padding: 0 0 0 25px;
}

/**
 * Custom
 */

.site-header,
.subheader,
.content-wide,
.summary,
.sidebar,
.speakers,
.organizers,
.speakers-list,
.organizers-list,
.sidebar-social-list {
  display: flex;
  flex-wrap: wrap;
}

.site-header,
.subheader,
.content-wide,
.summary,
.sidebar,
.speakers,
.organizers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#oho {
  padding: 40px 20px 20px;
}

.site-header {
  border-bottom: 3px solid $border-color;
  display: block;
  float: none;
  padding: 0 0 10px;
}

.site-logo {
  display: flex;
  justify-content: center;
}

.site-title {
  padding: 0;
}

.nowrap {
  margin: 0 auto;
  max-width: initial;
  padding: 0;
}


/**
 * Subheader
 */

.subheader,
.content-wide {
  padding: 0 16px;
}

.row-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cta {
  text-align: center;
}

.summary {
  margin: 20px 0;
  padding: 0 20px;
  text-align: center;
}

.register-btn {
  margin: 10px auto;
}


/**
 * Non-Homepage
 */

.content {
  padding: 16px 0 0;
}

/**
 * About 2014
 */

body.about.two-thirds .content {
  max-width: 775px;
}

/**
 * Speakers & Organizers
 */

  .sidebar {
    margin: 0 0 26px;
  }

 .sidebar .speakers-list,
 .sidebar .organizers-list {
   a,
   a div,
   img {
     width: 90px;
   }

   a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 9px 16px;

    &:last-of-type {
      // margin: 0 auto 0 0;
      justify-self: flex-start;
    }
   }
 }

.sidebar .speakers-list,
.sidebar .organizers-list {
  padding: 0;
}

.speakers-list a span,
.organizers-list a span {
  display: block;
}

.sidebar .speakers-list a,
.sidebar .organizers-list a {
  margin: 0 0 32px;
  text-align: center;
  width: 50%;
}

.content-wide .speakers-list img,
.content-wide .organizers-list img {
  border: 1px solid #b2b4b5;
  margin: 0 auto;
}

.organizers-list {
  padding: 0;

  a {
    width: 50%;
  }
}

ul,
ol {
  padding: 0 0 15px 20px;
}

.sidebar-social-list {
  padding: 0 30px;
}

.sidebar-list {
  width: 100%;
}

.site-footer {
  padding: 20px 20px 10px;
  text-align: center;
}


