/**
* Homepage - General
*/

.home {
  // margin: 0 0 16px;
}

/**
 * Home 2015
 */

.home2015 {
  .mt25 {
      margin-top: 25px;
    }

  .sidebar-list h3 {
    margin: 16px 0;
  }
}

.home2012 ul {
  list-style: none;
  padding: 0 0 15px;
}

/**
* Home 2011
*/

.home2011 {
  padding: 16px 0 0;

  .sidebar-list {
    text-align: center;
  }

}

.conference-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.conference-award-img {
  margin: 0 0 36px;
}

.conference-text {
  text-align: center;
}

@media only screen and (min-width: 425px) {
  .home2011 {
    .sidebar {
      margin: 0 auto;
      width: 250px;
    }
  }
}


@media only screen and (min-width: 576px) {
  .conference-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 500px;
  }

  .conference-award-img {
    margin: 0 2% 0 0;
    width: 150px;
  }

  .conference-text {
    text-align: left;
    width: 300px;
  }

  .home2011 .sidebar {
    width: auto;

    .speakers-list a {
      margin: 0 9px 16px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .home2011 {
    padding: 0;
    width: auto;

    .content-wide h1 {
        margin: 0 0 20px 24px;
      }

    .sidebar {
      width: auto;
    }
  }

  .conference-box {
    justify-content: space-between;
    width: 450px;
  }

  .conference-text {
    width: 285px;
  }
}

@media only screen and (min-width: 768px) {
  .home2011 {
    .sidebar {
      width: 230px;

      .speakers .speakers-list a,
      .speakers .speakers-list a :last-of-type {
        margin: 0 9px 16px;
      }
    }

    .sidebar-header h3 {
      margin: 0 10px 16px;
    }

    .sidebar-list {
      text-align: left;

      a,
      p {
        padding: 0;
      }
    }
  }
}

@media only screen and (min-width: 920px) {
  .conference-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 6px 0 0;
    width: 575px;
  }

  .conference-text p {
    padding: 0 30px 0 0;
  }

  .conference-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 395px;
  }
}

@media only screen and (min-width: 1024px) {
  .conference-box {
    justify-content: flex-start;
    width: 525px;
  }

  .conference-text p {
    padding: 0;
  }

  .conference-text {
    width: 330px;
    width: 62.75%;
  }
}

@media only screen and (min-width: 1200px) {
  .home2011 {
    padding: 0;

    .content-wide h1 {
      margin: 0 0 20px -25px
    }
  }

  .conference-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 6px 0 0;
    width: 575px;
  }

  .conference-text p {
    padding: 0 13px 0 0;
  }

  .conference-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 395px;
  }
}


/**
 * Home 2010
 */

.home2010 {
  .content-wide {
    max-width: 545px;

    h1:first-child {
      margin: 0 0 8px;
      text-align: left;
    }
  }
}
