.top-nav {
  background-color: transparent;
  border: 0;
  position: fixed;
  right: 0;
  top: 0;
  // width: 40%;
  width: 50%;

  li {
    display: block;
    float: left;
    width: 80%;

    a,
    // a:link,
    a:visited {
      color: $text-color;
      display: block;
      float: left;
      font-size: 12px;
      font-size: 14px;
      margin: 0 25px 0 0;
      padding: 10px 0;
      text-decoration: none;
      text-transform: uppercase;

    }

    &:last-of-type a {
      padding: 10px 0 16px;


    a:hover {
      color: $link-hover-color;
      display: block;
      // margin: 0 25px;
    }
  }

  }
}

.site-nav {
  input:checked~.trigger {
    background: white;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 52px 0 15px;
    position: absolute;
    z-index: -1;
  }

  .menu-icon > svg path {
    fill: white;
  }

  .menu-icon {
    height: 21px;
    padding: 15px 0;
    width: 46px;
  }

}

.site-nav label[for="nav-trigger"] {
  background: black;
  border: 1px solid black;
  height: 50px;
  width: 46px;
}

@media only screen and (min-width: 576px) {
  .top-nav {
    display: block;
    float: right;
    height: 28px;
    list-style: none;
    // padding: 71px 0 1px 0;


    li {
      display: block;
      // float: left;

      a,
      a:visited {
        color: $text-color;
        display: block;
        float: left;
        font-size: 12px;
        margin: 0 25px 0 0;
        text-decoration: none;
        text-transform: uppercase;
      }

      a:hover {
        color: $link-hover-color;
        display: block;
        // margin: 0 25px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .top-nav {
    width: auto;

    li {
      width: auto;
      a,
      &:last-of-type a {
        padding: 0;
      }
    }
  }

  .site-nav {
    background-color: inherit;
    border: none;
    float: right;
    position: static;
    width: auto;

    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: block;
    }

    .page-link {
      display: inline;
      padding: 0;
      margin-left: auto;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  .site-nav.nav2012 {
    padding: 21px 0 1px;
    width: 100%;

    ul {
      float: right;

      li a {
        margin: 0 24px 0 0;

        &:last-of-type a {
          margin: 0 10px 0 0;
        }
      }
    }
  }

  .site-nav.nav2013 {
    padding: 21px 0 1px;

    li {
      a,
      a:visited {
        margin: 0 16px 0 0;
      }

      &:last-of-type a {
        margin: 0;
      }
    }
  }
}

@media only screen and (min-width: 920px) {

  .site-nav.nav2012 {
    ul {
      float: right;
      margin: 0 auto;

      li a,
      li a:last-of-type {
        margin: 0 30px 0 0;
      }
    }
  }

  .site-nav.nav2013 {
    margin: 0 25px 0 0;
    padding: 21px 0 1px;

    li a,
    li a:visited {
      margin: 0 25px 0 0;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .top-nav {
    display: block;
    float: right;
    height: 28px;
    list-style: none;
    // margin: 71px 0 1px;
    padding: 0;
  }

  .site-nav.nav2012 ul {
    width: 780px;
  }
}

@media only screen and (min-width: 1200px) {
  .site-nav.nav2012 {
    padding: 71px 0 0;
    width: auto;

    ul {
      float: initial;
      width: auto;
    }
  }

  .site-nav.nav2013 {
    padding: 71px 0 1px;
  }
}
