<div id="subheader" class="subheader">

  <div class="row-top">
    <div class="get-logo"><img src="{{ "/get2010/images/GET.gif" | relative_url }}" alt="GET" class=""></div>
    <div class="summary">
      <h2>April 25-26, 2013 in Boston</h2>
      <p>Celebrating the 60th anniversary of the discovery of the DNA double helix.</p>
    </div>
  </div>

  <div class="cta">
    <h3><b>Watch videos!</b><br></h3>
    <p><a href="http://get2013.fora.tv">get2013.fora.tv</a></p>

    <a href="http://fora.tv/conference/get_conference_2013/"><img src="{{ "/get2013/images/fora_logo_190.png" | relative_url }}" alt="Fora.TV"></a>
  </div>

</div>
