<div id="subheader" class="subheader">

  <div class="row-top">
    <div class="get-logo"><img src="{{ "/get2010/images/GET.gif" | relative_url }}" alt="GET" class=""></div>

    <div class="summary">
      <h2><a href="http://en.wikipedia.org/wiki/DNA_day">World DNA Day</a>: April 25, 2012</h2>
      <p>
        Harvard Medical School <br>
        Boston, Massachussets
      </p>
    </div>
  </div>

  <div class="cta">
    <h3><b>Want to Attend?</b><br></h3>

    <a href="http://getconference.eventbrite.com/"><img src="{{ "/get2010/images/btn_register_now.gif" | relative_url }}" alt="Register Now"></a>
  </div>

</div>
