<div id="subheader" class="subheader">
  <div class="row-top">
    <div class="get-logo"><img src="{{ "/get2010/images/GET.gif" | relative_url }}" alt="GET" class=""></div>

    <div class="summary">
      <h2>GET Global Conference</h2>
      <p>Within a few years millions of people will have their genomic data. Multiple countries have embarked on mega-cohort initiatives aiming to advance precision medicine and the health of their populations. What are the opportunities to realize social benefits that exceed these enormous investments?</p>
    </div>
  </div>

  <div class="cta">
    <h3>Vienna, Austria</h3>
    <p>September 17-19, 2015<br>
      by invitation only<br>
      <a href="http://goo.gl/forms/TDMpc9f5yP">apply to participate</a>, or<br><a href="http://goo.gl/forms/mRNxD2gUqc">nominate a colleague</a><br>
      <br>
      #GET2015<br>
    </p>
  </div>
</div>
