<div id="subheader" class="subheader">
  <div class="row-top">
    <div class="get-logo"><img src="{{ "/get2010/images/GET.gif" | relative_url }}" alt="GET" class=""></div>
    <div class="summary">
      <h2>GET Conference</h2>
      <p>The GET Conference brings together leading thinkers to discuss how we measure and understand people and their traits.<br>
        <br><a style="color:#d91f2a; font-weight:bold" href="http://www.getconference.org/get2016/gety-awards-release.html" target="_blank">Announcing GETy Award Winners</a>
      </p>
    </div>
  </div>

  <div class="cta">
    <div class="cta-row">
      <h3><b>GET Conference</b><br></h3>
      <p>April 25-26. <a href="/get2016/agenda">Details.</a><br><a href="http://getconference.eventbrite.com/"><img class="register-btn" src="{{ "/get2010/images/btn_register_now.gif" | relative_url }}" alt="Register Now"></a></p>
    </div>

    <div class="cta-row">
      <h3><b>GET Labs + Expo</b></h3>
      <p>April 25. <a href="/get2016/labs">Details</a><br><a href="https://www.eventbrite.com/e/get-labs-tickets-21118572218"><img class="register-btn" src="{{ "/get2010/images/btn_register_now.gif" | relative_url }}" alt="Register Now"></a></p>
    </div>
  </div>
</div>
