<div id="subheader" class="subheader">
  <div class="row-top">
    <div class="get-logo"><img src="{{ "/get2010/images/GET.gif" | relative_url }}" alt="GET" class=""></div>

    <div class="summary">
      <h2>GET Labs &amp; GET Conference</h2>
      <p>April 29-30, 2014<br>
        Cambridge MA<br>
        <br>
        #GET2014<br>
      </p>
    </div>
  </div>

  <div class="cta">
    <h3 id="getconference"><strong>GET Conference</strong></h3>

    <p>Please join us April 30th: <br />
    <a href="http://getconference.eventbrite.com/"><img src="{{ "/get2010/images/btn_register_now.gif" | relative_url }}" alt="Register Now"></a></p>

    <h3 id="getlabs"><strong>GET Labs</strong></h3>

    <p class="omic-tag">Omic astronauts &amp; crew wanted for April 29th exploratory mission <a href="/get2014/labs.html">Apply here</a></p>
  </div>
</div>
