<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  {% if page.layout == "home" %}
    <body class="home">
  {% elsif page.name contains "awards" %}
    <body class="sub awards">
  {% else %}
    <body class="sub {{ page.class | downcase }}">
  {% endif %}
    <div id="oho">

    {%- include header.html -%}

    {% if page.layout == "home" %}
      {%- include_cached subheader.html -%}
      <main id="content-wide" class="content-wide clear" aria-label="Content">

    {% else %}
      <main id="content" class="content" aria-label="Content">
    {% endif %}
      {{ content }}
    </main>
    {% if page.layout == "home" %}
      {% assign speakers_str = "site.speakers" | append: page.year %}
      {% assign organizers_str = "site.organizers" | append: page.year %}
      {% include sidebar.html speakers_col=speakers_str organizers_col=organizers_str %}
    {% endif %}

    {%- include_cached footer.html -%}
    </div>
  </body>

</html>
