<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  {% if page.layout == "home" %}
    <body class="home">
  {% elsif page.name contains "awards" %}
    <body class="sub awards">
  {% else %}
    <body class="sub">
  {% endif %}
    <div id="oho">

    {%- include_cached header.html -%}

    {% if page.layout == "home" %}
      {%- include_cached subheader.html -%}
      <main id="content-wide" class="content-wide" aria-label="Content">

    {% else %}
      <main id="content" class="content" aria-label="Content">
    {% endif %}
      {{ content }}
    </main>
    {% if page.layout == "home" %}
      {% include sidebar.html %}
    {% endif %}

    {%- include_cached footer.html -%}
    </div>
  </body>

</html>
